.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: azure;
  height: 100vh;
  h1 {
    align-self: center;
    color: chartreuse;
  }
  p {
    font-size: 1.5rem;
    color: tomato;
  }
}
